<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="0.19.1" targetFramework="net461" />
  <package id="Carbon.Json" version="1.7.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.27.2" targetFramework="net461" />
  <package id="Carbon.Storage" version="1.15.1" targetFramework="net461" />
  <package id="Carbon.VersionControl" version="1.8.1" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.5.0" targetFramework="net461" />
  <package id="GitHub" version="1.12.1" targetFramework="net461" />
  <package id="Google.Apis" version="1.32.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.32.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.32.1" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.32.1.1104" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
</packages>